
{% extends "clear/main/base.html" %}


<!-- makes nav item active when on this page -->
{% block nav_item_inhaler %}active{% endblock nav_item_inhaler %}

{% block content %}

        <div class="container">

            <div class="row justify-content-center">
                <h1 class="page-title display-4" >INHALER LOG</h1>
            </div>


          <div class="row">
              {% if messages %}
        {% for message in messages %}
		<div class="alert alert- {{ message.tags }} col-12">{{message}}</div>
		{% endfor %}
		{% endif %}

            <div class="col-xs-12 col-sm-6">
              <h2 class="display-4" >Inhalers</h2>


            {% for UserInhaler in object_list %}
            {{UserInhaler.get_puffs_today}}

                <div class="card mb-4">
                    <div class="card-header">
                        Inhaler: {{UserInhaler.get_readable_type}}
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item">Puffs Today: {{UserInhaler.puffs_today}}</li>
                        <li class="list-group-item">Puffs Remaining: {{UserInhaler.puffs_remaining}}</li>
                        </ul>
                    </div>
                <div class="card-footer">
                    <form enctype="multipart/form-data" method="post" action="/clear/inhaler/log_puff/{{UserInhaler.id}}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Log Puff</button>
                    </form>
                </div>
                </div>

            {% endfor %}
            </div>



           <div class="col-xs-12 col-sm-5 offset-md-1">
              <h2 class="display-4" >Alerts</h2>
                {% for UserInhaler in object_list %}

                    <div class="card mb-4">
                        <div class="card-header">
                            Inhaler: {{UserInhaler.get_readable_type}}
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                {% widthratio UserInhaler.puffs 1 UserInhaler.frequency %}
                                {%  if UserInhaler.puffs_today > 5 %}
                                    <li class="list-group-item">You have exceeded your daily dosage.</li>
                                {% endif %}
                                {%  if UserInhaler.puffs_remaining < 5 %}
                                    <li class="list-group-item">Your inhaler is running low.</li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>

                {% endfor %}
            </div>

          </div>

        </div>



{% endblock content %}


