
{% extends "clear/main/base.html" %}


<!-- makes nav item active when on this page -->
{% block nav_item_inhaler %}active{% endblock nav_item_inhaler %}

{% block content %}

        <div class="container">

            <div class="row justify-content-center">
                <h1 class="page-title display-4" >INHALER LOG</h1>
            </div>


          <div class="row">

            <div class="col-10">
              <h2 class="display-4" >Inhalers</h2>
            </div>
            <div class="col-2">
                <h2 class="display-4" >Alerts</h2>
            </div>
          </div>

          <div class="col-4">
                    {% for UserInhaler in object_list %}
                    <div class="row-md-4">
                        <div class="text-dark">
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <h2 style="font-size:18px;font-weight:bold;min-height:42px;">
                                        Inhaler: {{Inhaler.UserInhaler.inhaler_id_id.name}}</h2>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <small class="text-muted">Puffs Today: {{UserInhaler.puffs_today}}</small>
                                        <small class="text-muted">Puffs Remaining: {{UserInhaler.puffs_remaining}}</small>
                                        <input type="button" value="Log Puff" onclick="log_puff">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
            </div>


        </div>



{% endblock content %}

