{% extends "clear/main/base.html" %}

<!-- makes nav item active when on this page -->
{% block nav_item_pollution %}active{% endblock nav_item_pollution %}

{% block content %}

    <head>
        <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
        <link rel="stylesheet" href="pollution.css" />
        <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
    </head>

    <body>
        <div class="container">
           <div class="row justify-content-center">
               <h1>POLLUTION </h1>
           </div>
        </div>

        <div style="padding: 0px 100px 30px 100px">
            <div class="row">
                <div class="col-8 test2" style="padding-right: 45px">
                    <div class="row justify-content-center">
                        <h2 class="display-4" >Map of London</h2>
                    </div>
                    <div id='map' width="100%" style='height:600px'></div>
                </div>

                <div class="col-4 test1">
                    <div class="row justify-content-center">
                        <h2 class="display-4" >Warnings</h2>
                    </div>

                    <div class="dropdown">
                        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                        Current Location
                        </button>

                        <div class="dropdown-menu scrollable" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Barnet</a>
                            <a class="dropdown-item" href="#">Bromley</a>
                            <a class="dropdown-item" href="#">Camden</a>
                            <a class="dropdown-item" href="#">City of London</a>
                            <a class="dropdown-item" href="#">Croydon</a>
                            <a class="dropdown-item" href="#">Ealing</a>
                            <a class="dropdown-item" href="#">Enfield</a>
                            <a class="dropdown-item" href="#">Greenwich</a>
                            <a class="dropdown-item" href="#">Hackney</a>
                            <a class="dropdown-item" href="#">Hammersmith and Fulham</a>
                            <a class="dropdown-item" href="#">Haringey</a>
                            <a class="dropdown-item" href="#">Hounslow</a>
                            <a class="dropdown-item" href="#">Islignton</a>
                            <a class="dropdown-item" href="#">Kensington and Chelsea</a>
                            <a class="dropdown-item" href="#">Lambeth</a>
                            <a class="dropdown-item" href="#">Lewisham</a>
                            <a class="dropdown-item" href="#">Merton</a>
                            <a class="dropdown-item" href="#">Newham</a>
                            <a class="dropdown-item" href="#">Redbrirdge</a>
                            <a class="dropdown-item" href="#">Richmond</a>
                            <a class="dropdown-item" href="#">Southwark</a>
                            <a class="dropdown-item" href="#">Tower Hamlets</a>
                            <a class="dropdown-item" href="#">Waltham Forest</a>
                            <a class="dropdown-item" href="#">Wandsworth</a>
                            <a class="dropdown-item" href="#">Westminster</a>
                        </div>
                    </div>
    {#           TODO FIX#}
{#                   <form enctype="multipart/form-data" method="post" action="/clear/pollution/set_current_location/1">#}
{#                        {% csrf_token %}#}
{#                        <button type="submit" class="btn btn-primary">Log Location</button>#}
{#                   </form>#}
                </div>
            </div>
        </div>

        <script>
            mapboxgl.accessToken = 'pk.eyJ1IjoiY2Fzc3lkbzAyIiwiYSI6ImNsY2R1dXYwbTRtMWczd21uMWM2ZGtxd24ifQ.NhYgnpmMpFsO_mtwOmzYsw';
                var map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v10',
                    center: [-0.163611, 51.500610], // starting position [lng, lat]
                    zoom: 11 // starting zoom
                });

                map.on('load', () => {
                    // Add a data source containing GeoJSON data.
                    map.addSource('maine', {
                        'type': 'geojson',
                        'data': 'http://skgrange.github.io/www/data/london_boroughs.json'
                    });

                    // Add a new layer to visualize the polygon.
                    map.addLayer({
                        'id': 'zip-codes',
                        'type': 'fill',
                        'source': 'maine', // reference the data source
                        'layout': {},
                        'paint': {
                        'fill-color': '#0080ff', // blue color fill
                        'fill-opacity': 0.5
                    }
                    });
                    // Add a black outline around the polygon.
                    map.addLayer({
                        'id': 'outline',
                        'type': 'line',
                        'source': 'maine',
                        'layout': {},
                        'paint': {
                        'line-color': '#000',
                        'line-width': 3
                    }
                    });
                    });
        </script>
    <body>
{% endblock content %}






{#{% block content %}#}
{#    <head>#}
{#        <title>Interactive maps for Django web apps</title>#}
{#        <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>#}
{#        <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />#}
{#    </head>#}
{##}
{#    <div class="container">#}
{#       <div class="row justify-content-center">#}
{#            <h1 class="page-title display-4" >POLLUTION</h1>#}
{##}
{##}
{#           TODO FIX#}
{#           <form enctype="multipart/form-data" method="post" action="/clear/pollution/set_current_location/1">#}
{#                {% csrf_token %}#}
{#                <button type="submit" class="btn btn-primary">Log Location</button>#}
{#           </form>#}
{##}
{##}
{##}
{##}
{#       </div>#}
{#    </div>#}
{##}
{#    <body>#}
{##}
{#        <div class="container">#}
{#            <h1>Map of London</h1>#}
{#            <div id='map' width="100%" style='height:600px'>#}
{#        </div>#}
{##}
{##}

{#    <body>#}
{#{% endblock content %}#}
