.container-fluid:nth-child(1) {
    background: rgb(234, 246, 255);
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
	text-align: center;
}
.justify-content-around {
    padding: 20px 0;
}
.container-fluid {
    background: rgb(212, 238, 255);
}

.container-mapwarning {
    background: rgb(212, 238, 255);
	padding: 0 100px;
}


h1 {
    font-size: 60px !important;
    text-align: center;
    font-weight: 400 !important;
}
.row {
    padding: 20px 0;
}
.topbtn {
    font-size:45px !important;
}
.fa-gear, .fa-map-location-dot, .fa-mask-ventilator {
    padding: 15px 30px;
    border: 1px solid #000;
    border-radius: 50%;
}
.fa-gear {
    background: rgb(212, 238, 255);
}
.col-lg-6 > label {
	border-bottom: 2px solid #000;
    width: 100%;
}
.mainformarea {

	border: 1px solid #d6d6d6;
	border-radius: 70px;
	background: rgb(234, 246, 255);
}
.btn-primary {
	background: rgb(114, 157, 209) !important;
	color: #000 !important;
	border: none !important;
	border-radius: 50px !important;
	margin-top: 40px;
	padding: 0 20px !important;
	font-weight: 600 !important;
	font-size: 18px !important;
	margin-left: 50%;
	transform: translate(-50%,0);
}
.btn-primary.btn-lg {
	background: rgb(114, 157, 209) !important;
	color: #000 !important;
	border: none !important;
	border-radius: 50px !important;
	margin-top: 20px;
	padding: 0 20px !important;
	font-weight: 600 !important;
	font-size: 25px !important;
	margin-left: 0;
}
.row:nth-child(3) {
	text-align: center;
}
input, select {
	margin-top: 20px !important;
	border: none;
	background: transparent;
	color: #6e6e6e;
}
input:focus, select:focus {
	margin-top: 20px !important;
	outline: none;
	border: none;
	background: transparent;
}
.inhaler2{
    margin-top:20px;
}


@media screen and (min-width: 601px) {

.mainformarea{
	margin: 0 50px !important;
	padding: 20px 40px !important;
}
}


@media screen and (max-width: 600px) {

.mainformarea{
  margin:0px !important;
  padding: 20px 10px;
}
}


html,body {
	height: 100%;
}